$orange:rgb(240, 160, 12);
$light-orange:rgb(220, 167, 67);
$light-blue:rgb(201, 204, 204);
$grey:grey;
$light-grey:rgb(114, 107, 107);
$aqua:rgb(64, 163, 186);
$white:white;
$dark-grey:rgb(53, 50, 50);
$black:black;
$blue:blue;
$beige:beige;
$font: "Didact Gothic", sans-serif;